@if(isLoading | async){
<app-loader />
}
<header class="header-container">
  <nav class="header-items">
    <a routerLink="/home" class="logo-item">
      <img src="/logo.svg" class="logo" alt="logo" />
    </a>
    <div class="profile-items">
      <button mat-button [matMenuTriggerFor]="profile" class="profile-card">
        Profile
      </button>
    </div>
  </nav>
</header>
<mat-menu #profile="matMenu">
  <div mat-menu-item>Edit Profile</div>
  <div mat-menu-item>Sign out</div>
</mat-menu>
<router-outlet />
