.overview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0px;
  .overview-section,
  .income-section,
  .expenses-section {
    display: flex;
    gap: 12px;
    .user-card-greeting {
      background: var(--mat-sys-primary);
      color: white;
      padding-inline: 18px;
      .greeting-content {
        display: flex;
        align-items: center;
        gap: 45px;
        .greeting-logo {
          width: 45px;
        }
      }
    }
    .balance-overview {
      display: flex;
      justify-content: space-between;
      .balance {
        font-weight: 800;
        font-size: 24px;
      }
    }
    .quick-transaction {
      display: flex;
      justify-content: space-around;
      gap: 18px;
      .logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: fit-content;
        gap: 6px;
        border: none;
        background: transparent;
        gap: 12px;
        cursor: pointer;
        img {
          width: 42px;
          height: 42px;
        }
      }
    }
  }
}
