<h1>Dashboard</h1>
<section class="overview-container">
  <div class="overview-section">
    <div class="content">
      <mat-card class="user-card-greeting" appearance="outlined">
        <mat-card-content class="greeting-content">
          <h3 class="name-greeting">Hello Abhishek Kumar</h3>
          <img src="/bank-logo.svg" alt="bank-logo" class="greeting-logo" />
        </mat-card-content>
      </mat-card>
    </div>
    <mat-divider [vertical]="true" />
  </div>
  <div class="expenses-section">
    <div class="content">Expenses of the profile <mat-divider /></div>
    <mat-divider [vertical]="true" />
  </div>
  <div class="income-section">
    <div class="content">Income of the profile <mat-divider /></div>
    <mat-divider [vertical]="true" />
  </div>
</section>
